body {
    margin: 60px auto;
    width: 70%;
    height: 50%;
    background-image: url("http://www.hdwallpapersfreedownload.com/uploads/large/special-days/pi-day-hd-wallper-desktop-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    background-color: black;
    z-index: 1;
    
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: white;
    font-weight: bold;
    background-color: grey;
    padding: 7px;
    
}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    background-color: white;
}
    h2 {
     font-size: 2em;
     font-family: Serif;
     color: red;
    }
     
ol {
    font-size:1.75em;
    font-family: serif;
    color: red;
    font-weight: bold;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
html {
    height: 100%;
}
table {
    border:3px solid black;
    background-color: white;
} 

.priobox {
} 
img {
    height: 100px;
    width: 300px;
}
.priobox {
    border: 7px solid white;
    background-color: lightyellow;
    height: 200px;
    width:200px;
    border-radius: 10px;
    
